overwrite: true
schema: "https://headless.herokuapp.com/graphql"
documents: "src/**/*.graphql"
generates:
  src/types/graphql.v1.ts:
    plugins:
      - "typescript"
      - "typescript-operations"
      - "typescript-react-apollo"
    config:      
      withHooks: true